@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Sansita Swashed";
    src: url(/fonts/SansitaSwashed-VariableFont_wght.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    @apply text-primary transition-colors;

    &:hover {
        @apply text-primary-hover;
    }
}

body,
html {
    margin: 0;
    padding: 0;
}
