---
import SectionHeader from "../SectionHeader.astro";
import CVItem from "../CVItem.astro";
---

<section class="mb-8">
    <SectionHeader title="Work Experience" icon="mdi:briefcase" />
    <p class="my-3">My work experience, from latest to oldest:</p>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <CVItem iconName="mdi:briefcase">
            <Fragment slot="title">Junior Software Developer</Fragment>
            <Fragment slot="dateRange">Sep 2023 - Current</Fragment>
            <Fragment slot="location">Nesto Software GmbH</Fragment>
        </CVItem>
        <CVItem iconName="mdi:briefcase">
            <Fragment slot="title">Full-Stack Web Developer</Fragment>
            <Fragment slot="dateRange">Aug 2021 - Aug 2023</Fragment>
            <Fragment slot="location">Compaile Solutions GmbH</Fragment>
        </CVItem>
        <CVItem iconName="mdi:briefcase">
            <Fragment slot="title">Marketing Team / Web Developer</Fragment>
            <Fragment slot="dateRange">Sep 2019 - Sep 2020</Fragment>
            <Fragment slot="location">United Planet GmbH</Fragment>
        </CVItem>
        <CVItem iconName="mdi:briefcase">
            <Fragment slot="title">
                Software Developer<br />
                (Co-Op / Duales Studium)
            </Fragment>
            <Fragment slot="dateRange">Sep 2015 - Feb 2019</Fragment>
            <Fragment slot="location">HRworks GmbH</Fragment>
        </CVItem>
    </div>
</section>
