---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/sections/SiteHeader.astro";
import SiteFooter from "../components/sections/SiteFooter.astro";
import HeroImage from "../components/sections/HeroImage.astro";
import SectionHeader from "../components/SectionHeader.astro";
import EducationSteps from "../components/sections/EducationSteps.astro";
import WorkExperience from "../components/sections/WorkExperience.astro";
import FavoriteTechnologies from "../components/sections/FavoriteTechnologies.astro";
---

<Layout title="Bassadin">
    <SiteHeader />
    <div class="m-1 break-words p-2 lg:m-4 lg:mx-auto lg:w-1/2">
        <HeroImage />

        <section class="mb-8">
            <SectionHeader title="About me" icon="mdi:person" />
            <p class="my-3">
                I'm Bastian, a software developer from Germany. While my
                current focus is Full Stack Web Development (buzz word bingo,
                woop woop), I've dabbled in Game Development, Embedded
                Programming, Home Automation and other fields of IT before. I
                love to learn about new technologies and clean and structured
                code is very important to me.
            </p>
            <p class="my-3">
                I enjoy using tools to improve code quality like ESLint or
                Prettier. For my private projects, I mostly use TypeScript and
                frameworks like Astro and Vue.js. Improving and reducing the
                deploy time of my projects using CI/CD tools like GitHub
                Actions and GitLab CI/CD is something I like a lot.
            </p>
            <p class="my-3">
                Read more about my work experience and education on my <a
                    href="https://www.linkedin.com/in/bastianhodapp/"
                    >LinkedIn profile</a
                >.
            </p>
        </section>

        <EducationSteps />
        <WorkExperience />
        <FavoriteTechnologies />

        <section class="mb-8">
            <SectionHeader title="About this website" icon="mdi:information" />
            <p class="my-3">
                This website was built using <a
                    target="_blank"
                    href="https://astro.build/">Astro</a
                >, a modern static site builder. For the design, I'm using
                Tailwind CSS, a utility-first CSS framework. Using GitHub
                actions, changes that are committed to the main branch are
                automatically deployed to my webhoster using an FTP deployment
                action.
            </p>
            <p class="my-3">
                To ensure code consistency and quality, I use ESLint and
                Prettier. I also use husky.js to check my code through these
                code quality tools before every commit that is made.
            </p>
        </section>
    </div>
    <SiteFooter />
</Layout>
