---
import { Icon } from "astro-icon/components";

interface Props {
    title: string;
    icon: string;
}

const { title, icon } = Astro.props;
---

<h2 class="my-3 mt-12 flex items-center gap-2 text-2xl font-bold">
    <Icon name={icon} />
    <span>{title}</span>
</h2>
