---
import { Icon } from "astro-icon/components";

interface Props {
    title: string;
    icon: string;
}

const { title, icon } = Astro.props;
---

<h2 class="my-3 mt-12 text-2xl font-bold">
    <Icon name={icon} /> {title}
</h2>
