@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #eee;
    background-color: $main-background-color;
}

#app {
    font-family: $font-family;
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $link-color;
    transition: color 0.2s;

    &:hover {
        color: color.adjust($link-color, $lightness: +15%);
    }
}
