// CSS Variables for the project

$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$text-color: #ddd;
$link-color: #edb;
$header-background-color: #333;
$main-background-color: #110;

$link-button-icon-color: #222;
$link-button-border-color: #eee;