// CSS Variables for the project

// Fonts

@font-face {
    font-family: "Roboto";
    src: url("@/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Sansita Swashed";
    src: url("@/assets/fonts/SansitaSwashed-VariableFont_wght.ttf")
        format("truetype");
}

$main-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$hero-title-font-family: "Sansita Swashed", cursive;

$text-color-primary: #ddd;
$text-color-secondary: #aaa;
$link-color: #edb;
$link-color-hover: #ffd;

$main-background-color: rgb(22, 22, 16);

// Header
$header-background-color: #333;
$header-separator-color: #665;

// Footer
$footer-background-color: rgb(18, 18, 14);
$footer-border-top-color: rgb(35, 35, 28);

$link-button-icon-color: #222;
$link-button-border-color: #eee;

// Blocks
$card-background-color: #444;
$card-background-color-hover: #484848;
