// CSS Variables for the project

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sansita+Swashed&display=swap");
$main-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$hero-title-font-family: "Sansita Swashed", cursive;

$light-text-color: #ddd;
$light-text-color-darker: #aaa;
$link-color: #edb;
$link-color-hover: #ffd;

$main-background-color: #220;

// Header
$header-background-color: #333;
$header-separator-color: #665;

// Footer
$footer-background-color: #151500;
$footer-border-top-color: #252500;

$link-button-icon-color: #222;
$link-button-border-color: #eee;

// Blocks
$card-background-color: #444;
$card-background-color-hover: #484848;
$card-border-radius: 0.2rem;
