@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Sansita Swashed";
    src: url(/fonts/SansitaSwashed-VariableFont_wght.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}

h2 {
    margin-block-start: 3.5rem;
}

a {
    text-decoration: none;
    color: #c2410c;

    &:hover {
        color: #f97316;
    }
}

body,
html {
    margin: 0;
    padding: 0;
}
