name: Build, Test and Deploy with FTP

on:
  push:
  pull_request:
  merge_group:

jobs:
    build:
        name: Build
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
            - uses: actions/setup-node@master
              with:
                  node-version: 24.x
            - name: pnpm module install
              run: pnpm install --frozen-lockfile
            - name: nuxt generate
              run: pnpm run generate
            - uses: actions/upload-artifact@master
              with:
                  name: build-artifact
                  path: .output/public/

    test-cypress:
        name: Cypress Tests
        runs-on: ubuntu-24.04
        needs:
            - build
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
            - uses: actions/setup-node@master
              with:
                  node-version: 24.x
            - uses: actions/download-artifact@master
              with:
                  name: build-artifact
                  path: .output/public/
            - name: Cypress run
              uses: cypress-io/github-action@v6
              with:
                  start: npx serve .output/public
                  browser: chrome

    deploy:
        needs:
            - build
            - test-cypress
        runs-on: ubuntu-24.04
        environment:
            name: production
            url: https://bassadin.de/
        # Deploy only on a tag
        if: startsWith(github.ref, 'refs/tags/v')
        name: Deploy to FTP Server
        steps:
            - uses: actions/download-artifact@master
              with:
                  name: build-artifact
                  path: .output/public/
            - name: Deploy to FTP Server
              uses: SamKirkland/FTP-Deploy-Action@a51268f67f6605236975928ae28b0f7e9971d50a # v4.3.6
              with:
                  server: ha01s018.org-dns.com
                  username: bassadin_root_website
                  password: ${{ secrets.FTP_Password }}
                  protocol: ftps
                  local-dir: .output/public/
                  security: strict
